@import url('https://fonts.googleapis.com/css2?family=Convergence&display=swap');
@font-face {
    font-family: CPfont;
    src: url(../../icomoon.ttf)
}
body{
    font-family: 'Convergence', sans-serif;
    font-weight: 700;
    line-height: 21px;
}
*{
    /* margin: 0; */
    /* padding: 0; */
    font-family: 'Teko', sans-serif;
   text-decoration: none;
	list-style: none;
    box-sizing: border-box;
    transition: all 0.4s ease;;
}


/* get it now button ki css hai ye */
.getitnow {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #101010;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 8px;
  }
  
  .getitnow::before {
    content: "";
    background: linear-gradient(
      45deg,
      #e5e4e4,
      #756023,
      #910704,
      #74532d,
      #e9bd79,
      #e9bd79,
      #ff3300,
      #af644b,
      rgb(215, 83, 12)
      /* #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000 */
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingbn5 20s linear infinite;
    opacity: 0;
    transition: opacity  ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowingbn5 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .getitnow:active {
    color: #000000;
  }
  
  .getitnow:active:after {
    background: transparent;
  }
  
  .getitnow:hover:before {
    opacity: 1;
  }
  
  .getitnow:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: #191919; */
    background-image: url("images/heroHeader@3x.jpg");
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  /* order now btn */
  

/* ye nav bar ki css hai */

/* ===== Colours ===== */
:root{
    /* --body-color: #E4E9F7; */
    --nav-color:#000000;
    --side-nav: #000000;
    --text-color: #FFF;
   
}

body{
    /* height: 100vh; */
    background-color: var(--body-color);
    
}



.navtud{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}

body.dark .navtud{
    border: 1px solid #393838;

}

.navtud .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    /* padding: 0 30px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navtud .nav-bar .sidebarOpen{
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

.navtud .nav-bar .logo{
   
    text-decoration: none;
	margin: auto;
}

.navtud .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
	margin: auto;
}

.menu .logo-toggle{
    display: none;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}

.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before{
    opacity: 1;
}


@media (max-width: 1000px) {
    .navtud .nav-bar .sidebarOpen{
        display: block;
    }

    .menu{
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    .navtud.active .menu{
        left: -0%;
    }

    .navtud.active .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose{
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links{
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a{
        display: block;
        margin-top: 20px;
    }
}




/* ye charlie puth ki css hai */
.bg video{
    position: fixed;
    right: 0;
    bottom: 0;
    height: auto;
    width: auto;
    min-width:100% ;
    min-height: 100%;
    z-index: -999;
}

.cplogo{height: 100%;
    width: 100%;
   
    /* float: left; */
    margin-top: 0px;
    /* margin-left: 1%; */
}
#who:hover{
    
    background-color: white;
    border: 2px solid black;
    text-decoration: none;
    color: black;

}
#who{
    background-color: black;
    color: white;
    /* margin-left: 30%; */
    clear: left;
    cursor: pointer;
    text-decoration: none;
    padding: 3px;
    margin-top: 14px;
    letter-spacing:0.2mm;
    
}
#ldcp:hover{
    clear: left;
    cursor: pointer;
    background-color: white;
    border: 2px solid black;
    color: black;
 
}
#ldcp{
    background-color: black;
    color: white ;
    clear: left;
    cursor: pointer;
    text-decoration: none;
    margin-left:30px; 
    padding: 3px;
    letter-spacing:0.2mm;
}
 #homecp{
    background-color: black;
    color: white ;
    clear: left;
    cursor: pointer;
    text-decoration: none;
    margin-left:30px; 
    padding: 3px; 
    letter-spacing:0.2mm;
    }
    #homecp:hover{
        clear: left;
    cursor: pointer;
    background-color: white;
    border: 2px solid black;
    color: black;
  
    }
    #live{
        background-color: black;
        color: white ;
        clear: left;
        cursor: pointer;
        text-decoration: none;
        margin-left:30px; 
       padding: 3px; 
        letter-spacing:0.2mm;
    }
#live:hover{
    clear: left;
    cursor: pointer;
    background-color: white;
    border: 2px solid black;
    color: black;
  
}
#lightbtn{
        background-color: black;
        text-decoration: none;
        padding: 0.8rem;
        color: white;
        letter-spacing:1mm;
    }
    .icon{
        float: left;
        /* padding: 5px; */
        text-align: center;
        margin-left: 2em;
        margin-top: 3%;
        /* margin: auto; */
    }
    .fsocial{
        content: "";
        clear: both;
        display: table;
        text-align: center;
        margin-top: 2%;
        margin: auto;
    }
    

/* YAHA SE ABOUT KI CSS HAI  */
#cpd{
   padding: 45px;
}
#cpa{
    font-size:300%;
    text-align: center;
}
#cpa1{
    padding:50px ;
    padding-top: 2px;
} 
p{
    font-size: 15px;
}

#goback{
    text-decoration: none;
    color: black;
    border: 4px solid black;
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 5px;
   
   
}
#goback:hover{
    background-color: white;
    border-radius: 10px;
    color: black;
    
}
/* yaha se misic+video ki css hai  */

#mvcp{
    font-size: 70px;
    text-align: center;
    /* letter-spacing: 1ch; */
}
#mval{
    font-size: 43px;
    text-align: center;
    letter-spacing: 1ch;   
}
.btnalblight{
    text-decoration: none;
    font-size: 25px;
    padding: 6px;
    border: 4px solid white;
    margin-bottom: 2%;
    background-color:  #302e2f;
    color:#95694c;
    border-radius: 8px;
}
.btnalb1{
    text-decoration: none;
      font-size: 25px;
    padding:6px;
    border: 4px solid black;
    margin-bottom: 2%;
    background-color: #87754D;
    color: white;
    border-radius: 8px;
}
.btnalb1:hover{
    background-color: black;
    color: white;
}
.btnalb2{
text-decoration: none;
    font-size: 25px;
    padding: 6px;
    border: 4px solid red;
    margin-bottom: 2%;
    background-color: black;
    color: red;
    border-radius: 8px;
}
.btnalb2:hover{
    background-color: black;
    color: white;
}
.btnalb3{
    text-decoration: none;
        font-size: 25px;
        padding: 6px;
        border: 4px solid black;
        margin-bottom: 2%;
        background-color: white;
        color:black;
        border-radius: 8px;
    }
    .btnalb3:hover{
        background-color: black;
        color: white;
    }
#download{
    text-decoration: none;
    font-size: 25px;
    padding: 6px;
    border: 4px solid black;
    color:white;
    background-color: green;
    border-radius: 8px;
    margin-top: 18px;
}
#download:hover{
    text-decoration: none;
    font-size: 25px;
    padding: 6px;
    border: 4px solid black;
    color:black;
    background-color: white;
    border-radius: 8px;
    /* margin-left: 42%; */
    /* text-align: center; */
}

#download1{
    text-decoration: none;
    font-size: 25px;
    padding: 6px;
    border: 4px solid black;
    color:white;
    background-color: rgb(238, 155, 2);
    border-radius: 8px;
    margin-top: 2%;
}
#download1:hover{
    text-decoration: none;
    font-size: 25px;
    padding: 6px;
    border: 4px solid black;
    color:black;
    background-color: white;
    border-radius: 8px;
}
/* ye voicenotes ka css hai */
#vd{
    font-size: 35px;
    color: white;
}
#songs{
    font-size: 30px;
    /* border: 4px solid black; */
}
.audio{
    color: black;
    
}
.songname{
    margin-top: 3%;
    color: black;
}

/* yaha se nine track mind ki css hai */
#ntm{
    text-align: center;
    font-size: 35px;
}

/* yaha se superhis ki css hai  */
#super{
    /* background-color: #87754D; */
    /* color: white; */
    border: 3px solid black;
    text-align: center;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 2%;
    text-align: center;
    margin: auto;
}
/* YAHA SE LIVEEVENTS KI CSS HAI */
#l{
    text-align: center;
}
#gobackle{
    background-color: black;
    color: white ;
    clear: left;
    cursor: pointer;
    text-decoration: none;
    margin-left:30px; 
    padding: 3px; 
    letter-spacing:0.2mm;
}
#gobackle:hover{
clear: left;
cursor: pointer;
background-color: white;
border: 2px solid black;
color: black;
padding:5px ;
}



.homeimg{
    width: 100%;
    height: 100%;
    
}


.chipkundi{
    text-align: center;
    /* margin-left: 10px;
    margin-right: 10px; */
    margin-top: 10px;
    color: black;
